# Microestructuras y sistemas de Trading
## Laboratorio 1

## Equipo C
### Participantes:
>Paulina Milenka Glez Manrique, Andres García Ruvalcaba, Mariana López Correa,Juan López Pelayo.

In [21]:
import quandl 
import pandas as pd
import os

In [22]:
quandl.ApiConfig.api_key = "6ARMqMT_1jbzJ71XyRCx"

In [23]:
path=os.getcwd()
files=os.listdir(path)
etf_files = [f for f in files if f[-3:]=='csv']

In [24]:
df=[]
for f in etf_files: 
    data=pd.read_csv(f, header=0, sep=',', index_col=0, parse_dates=False, skip_blank_lines=True, skiprows=10)

    df.append(data)

In [ ]:
df_nassets = []
for f in etf_files:
    data=pd.read_csv(f,nrows=4)
    data=data.iloc[3,0]
    df_nassets.append(data)

In [ ]:
df_fechas=[]
for f in etf_files:
    data=pd.read_csv(f,nrows=4)
    data=data.iloc[1,0]
    df_fechas.append(data)

In [ ]:
dic = {'abr':'04','ago':'08','dic':'12','feb':'02','ene':'01','jun':'06','jul':'07','mar':'03','may':'05','nov':'11','oct':'10','sep':'09'}
lenfechas=len(df_fechas)
for i in range(lenfechas):
    df_fechas[i]=df_fechas[i].replace(df_fechas[i][3:6],dic.get(df_fechas[i][3:6]))

In [38]:
M1= df[0]
tickers = M1.index.get_values()
tickers = tickers.tolist()
prices = quandl.get_table('WIKI/PRICES',ticker = tickers,  qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                       date = { 'gte': df_fechas[0], 'lte': df_fechas[-1] }, 
                       paginate=True)
prices.head()

     ticker       date   adj_close
None
0       ZTS 2017-03-01   53.691753
1       ZBH 2017-03-01  118.183327
2       YUM 2017-03-01   65.001622
3       XYL 2017-03-01   49.103013
4      XLNX 2017-03-01   59.029794
5       XEC 2017-03-01  128.065944
6      WYNN 2017-03-01  101.569040
7       WYN 2017-03-01   82.602515
8        WU 2017-03-01   19.381734
9       WMB 2017-03-01   27.915266
10       WM 2017-03-01   72.117410
11      WEC 2017-03-01   58.934830
12      WAT 2017-03-01  155.830000
13       VZ 2017-03-01   49.223546
14      VTR 2017-03-01   62.020579
15     VRTX 2017-03-01   90.310000
16     VRSN 2017-03-01   84.120000
17     VRSK 2017-03-01   84.320000
18      VNO 2017-03-01  106.768939
19      VMC 2017-03-01  123.608660
20      VAR 2017-03-01   85.530000
21        V 2017-03-01   88.688634
22      USB 2017-03-01   55.494520
23      URI 2017-03-01  133.360000
24     URBN 2017-03-01   25.480000
25      UPS 2017-03-01  105.237578
26      UNP 2017-03-01  108.883241
27      UNH 2017-03-01  165.996167
28     ULTA 2017-03-01  274.830000
29      UHS 2017-03-01  125.333396
...     ...        ...         ...
289     AVB 2017-03-01  179.146077
290    ATVI 2017-03-01   46.857499
291     APH 2017-03-01   70.411071
292     APD 2017-03-01  140.867567
293     APC 2017-03-01   65.820824
294     APA 2017-03-01   52.682251
295     AON 2017-03-01  116.562999
296    AMZN 2017-03-01  853.080000
297     AMT 2017-03-01  112.171459
298     AMP 2017-03-01  131.976284
299    AMGN 2017-03-01  175.778992
300    AMAT 2017-03-01   36.685597
301    ALXN 2017-03-01  134.210000
302    ALLE 2017-03-01   73.242941
303     ALK 2017-03-01   99.055582
304     ALB 2017-03-01  101.798177
305    AKAM 2017-03-01   63.380000
306     AJG 2017-03-01   56.981287
307     AIV 2017-03-01   45.277892
308     AET 2017-03-01  128.709071
309    ADSK 2017-03-01   88.930000
310     ADS 2017-03-01  246.531351
311     ADP 2017-03-01  102.836719
312     ADI 2017-03-01   82.836690
313    ADBE 2017-03-01  120.350000
314     ACN 2017-03-01  121.613041
315    ABBV 2017-03-01   61.231975
316    AAPL 2017-03-01  138.657681
317     AAP 2017-03-01  156.439485
318       A 2017-03-01   51.688945

[319 rows x 3 columns]